{% extends 'base.html' %}

{% block title %}CUSTOMER{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> CUSTOMER</h6>
<hr>
<h1><span>SAPHIR Customer Relationship Management</span></h1>
  <div class="container_text m-5">
        <ul>
            <li class="customer">Improved quality of customer service</li>
            <li class="customer">Reduced costs achieved through the optimization of business processes</li>
            <li class="customer">Effective promotion and selling strategies</li>
            <li class="customer">Increased effectiveness of marketing activities</li>
            <li class="customer">Rise in profits</li>
            <li class="customer">High-quality analytics</li>
        </ul>
  </div>
{% endblock %}
