{% extends 'base.html' %}

{% block title %}MIGRATION{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> MIGRATION</h6>
<hr>
<h1><span>Migration to SAPHIRE ERP</span></h1>
  <div class="container_text m-5">
<h6>Achieve a Successful Migration from existing ERP systems to SAPHIRE ERP.</h6>
<p>SAPHIRE ERP helps organizations get impressive results on analytics, integration, data processing, and performance, provided technical migration to SAPHIRE ERP is executed in a proper way.
<br>SAPHIRE ERP shares and implements the best practices of data transfer across a great number of scenarios. Among them are migrations:</p>
        <ul>
            <li class="migration">Planning and Optimization</li>
            <li class="migration">Business Planning and Consolidation Classic</li>
            <li class="migration">Supplier Relationship Management</li>
            <li class="migration">Business Planning and Consolidation</li>
            <li class="migration">Transportation Management</li>
            <li class="migration">Business Warehouse</li>
        </ul>
        <h6>Benefits:</h6>
        <ul>
            <li class="benefits">Unification</li>
            <li class="benefits">Diversity of innovations</li>
            <li class="benefits">Reduced Total cost of ownership</li>
            </ul>
  </div>
{% endblock %}