{% extends 'base.html' %}

{% block title %}MOBILE{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> MOBILE</h6>
<hr>
<h1><span>SAPHIR ERP mobile (Android(TM) and iOS (TM) )</span></h1>

  <div class="container_text m-5">
<h6 class="font-weight-lighter">Repair object data management on mobile devices</h6>
        <ul>
            <li class="mobile">Creation/modification of functional locations</li>
            <li class="mobile">Creation/modification, installation/dismantling of equipment units</li>
            <li class="mobile">Monitoring of measuring points/counters of repair objects</li>
            <li class="mobile">Classification of repair objects</li>
            <li class="mobile">Subsequent control of work progress</li>
            <li class="mobile">Accounting for extended objects</li>
            <li class="mobile">Vehicle accounting</li>
         </ul>
        <p>Data management of transactional objects on mobile devices</p>
  </div>
{% endblock %}


