{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MIGRATION{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> ABOUT ERP</h6>
<hr>
<h1><span>About SAPHIRE ERP</span></h1>
  <div class="container_text m-5">
        <h6>SAPHIRE ERP is a great tool to secure process transparency,cut costs, and increase company revenue.
            <br>The key priority of SAPHIR ERP system is to automate the company's business processes (production, supply, sales, etc.)
            and management functions (planning, accounting, and control), as well as to ensure continuous, interconnected, and comprehensive automation
            of all functional areas and divisions of the enterprise.
            <br>The aim is to improve and optimize the business performance of the organization:</h6>
                <p>SAPHIRE ERP helps organizations get impressive results on analytics, integration, data processing, and performance, provided technical migration to SAPHIRE ERP is executed in a proper way.
                <br>SAPHIRE ERP shares and implements the best practices of data transfer across a great number of scenarios. Among them are migrations:</p>
             <ul>
                <li class="about">Procurement</li>
                <li class="about">Manufacturing</li>
                <li class="about">Sales</li>
                <li class="about">Customer Service</li>
                <li class="about">Human Resources</li>
                <li class="about">Finance and Controlling</li>
             </ul>
             <p>Successful ERP implementation based on best practices.</p>
   </div>
{% endblock %}







