{% extends 'base.html' %}

{% block title %}MIGRATION{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> ASSET</h6>
<hr>
<h1><span>About SAPHIRE ERP</span></h1>
<div class="row mt-5 pb-2">
  <div class="btns col-3 mr-n1">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link_btn btn-lg active" id="v-pills-asset-tab" data-toggle="pill" href="#v-pills-asset" role="tab" aria-controls="v-pills-asset" aria-selected="true">Asset Management</a>
      <a class="nav-link_btn btn-lg" id="v-pills-benefits-tab" data-toggle="pill" href="#v-pills-benefits" role="tab" aria-controls="v-pills-benefits" aria-selected="false">Benefits</a>
    </div>
  </div>
    <div class="text_btns col-9 ml-n2">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-asset" role="tabpanel" aria-labelledby="v-pills-asset-tab">
         <h6 class="font-weight-lighter">SAPHIR ERP Asset Management encompasses all the systematic and coordinated actions and practices that
allow companies to effectively manage assets and asset systems, performance, risks,
and costs over asset lifecycles and in this way achieve its strategic goals.</h6>
             <ul>
                <li class="asset">Reduced operating costs</li>
                <li class="asset">Improved capital expenditure management</li>
                <li class="asset">Increased transparency of asset operations and planning</li>
                <li class="asset">Effective use and monetization of assets</li>
                <li class="asset">Detailed view of costs by asset</li>
                <li class="asset">Centralized storage of asset data</li>
             </ul>
             <h6 class="font-weight-lighter">Preventive and emergency repairs, preparation of equipment technology roadmaps, creation of
documents with required technical operations for specific equipment —  all these tasks are covered
by SAPHIR ERP Asset Management processes.</h6>
             <ul>
                <li class="asset">Order management/maintenance message management — registration of defects, stops; maintaining a catalog of faults, causes of defects; registration of tasks, performance of work, control of performance, and control of the cost formation for repair objects</li>
                <li class="asset">Maintenance implementation — confirmation and control of maintenance activities</li>
                <li class="asset">Maintenance of technology roadmaps — preparation and filling of technology roadmaps for performing
                    maintenance activities</li>
                <li class="asset">Maintenance strategy management —  planning based on time, conditions, or equipment operating time</li>
                <li class="asset">Maintenance planning — formation/forecasting of reviews for a selected time. In case of using
                    operating time counters — for a selected operating time</li>
                <li class="asset">Outage management — ensuring safe working conditions: shutting down a repair facility, printing
                    labels, and issuing work permits</li>

             </ul>
              <h6 class="font-weight-lighter">SAPHIR ERP Asset Management keeps records of all the equipment belonging to the enterprise,
                    allows managing the data of repair objects easily and efficiently and monitoring the performance
                    of assets from an operational and financial perspective. Particularly, the system allows:</h6>
             <ul>
                <li class="asset">Carrying out certification of objects (creating objects, checking out the availability of the
                    necessary information, and classifying repair objects)</li>
                <li class="asset">Presenting the structure of repair objects in a hierarchical, ordered form</li>
                <li class="asset">Using the classification of repair objects;</li>
                <li class="asset">Working with measuring points to track monitored parameters</li>
                <li class="asset">Working with repair objects counters for effective planning of repairs, while taking into account the operating time of equipment</li>
                <li class="asset">Working with serial numbers to track individual physical components within a specific stock of a
                    material</li>
                <li class="asset">Structuring PM specifications to determine the need for spare parts when planning orders</li>
                <li class="asset">Structuring the repair and maintenance personnel of the enterprise, creating a kind of directory of
                    workplaces</li>
                <li class="asset">Considering extended objects: transmission lines, pipelines, etc. (Linear Asset Management)</li>
                <li class="asset">Tracking and maintaining road transport (Fleet Management)</li>
             </ul>
             <ul>
                <li class="asset">Speed up repair processes</li>
                <li class="asset">Reduce costs</li>
                <li class="asset">Increase budgeting efficiency</li>
                <li class="asset">Ensure equipment availability and improve fault tolerance</li>

             </ul>
   </div>
       <div class="tab-pane fade show active" id="v-pills-benefits" role="tabpanel" aria-labelledby="v-pills-benefits-tab">
         <h6 class="font-weight-lighter">SAPHIR ERP Multiresource Scheduling to easily meet your business objectives.
                <br>The importance of smart scheduling in business is of the highest value.
                When everything is carefully planned with all the details considered, it's easy to deliver on
                time, with minimum expenditure, and make a maximum profit with minimum investment.
                <br>Benefits:</h6>
             <ul>
                <li class="benefits">Clear visualized picture of plans with statuses</li>
                <li class="benefits">Time and route optimization, SLA compliance</li>
                <li class="benefits">Ability to simultaneously plan on different types of resources, both human and equipment</li>
                <li class="benefits">A single planning tool for various areas of business that covers both short- and long-term planning</li>
                <li class="benefits">Support for cross-branch planning</li>
                <li class="benefits">More efficient use and allocation of resources achieved through an accurate selection by
                                qualifications and availability</li>
                <li class="benefits">Constant monitoring of the performance</li>
             </ul>
       </div>
   </div>
</div>
</div>
{% endblock %}


-
-
-
-
