{% extends 'base.html' %}

{% block title %}DOCUMENT{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> DOCUMENT</h6>
<hr>
<h1><span>SAPHIR ERP Document management system</span></h1>
  <div class="container_text m-5">
        <ul>
            <li class="document">Manage any original document format/version/revision</li>
            <li class="document">Get instant access to any documentation you need</li>
            <li class="document">Track and manage document statuses</li>
            <li class="document">Contextual search functionality for documents</li>
            <li class="document">Link your documents to related user interface elements</li>
            <li class="document">Store all the necessary documents in your storage repository (engineering and technical documentation, manufacturing, quality, ingredient and material specifications, instructions, invoices, etc.)</li>
         </ul>
  </div>
{% endblock %}


