{% extends 'base.html' %}

{% block title %}HR{% endblock %}

{% block content %}
<hr>
<h6 style="font-weight: initial">YOU ARE HERE: HOME >> HUMAN RESOURSES</h6>
<hr>
<h1><span>Human Resourses</span></h1>
  <div class="container_text m-5">
        <h6 class="font-weight-bold mt-5">SAPHIR ERP HR management gives simple, user-friendly solution that will reduce the workload of your HR department.</h6>
        <ul>
            <li class="hr">Measure employee performance and help your team members grow</li>
            <li class="hr">Standardize HR processes to reduce administrative costs</li>
            <li class="hr">Automate analytics and report generation</li>
            <li class="hr">Automate a new employee training process</li>
            <li class="hr">Centralized storage and management of all personnel data</li>
            <li class="hr">Complete and actionable information on all company employees</li>
            <li class="hr">Full compliance with local regulations and laws</li>
            <li class="hr">Flexible and automated reporting capabilities</li>
            <li class="hr">Transparent and clear representation of HR processes</li>
            <li class="hr">Adherence to best practices in hiring and human resource management</li>
            <li class="hr">Easy planning of employee timetables</li>
            <li class="hr">Smart tracking of work time or paid and sick leaves</li>
            <li class="hr">Transparent reports and analysis of employee activities</li>
            <li class="hr">User-friendly interface that facilitates user adoption rates</li>
            <li class="hr">Improved complex compensation processing including overtime and contract work</li>
            <li class="hr">Easy-to-use tools for streamlined calculation of everyday payroll data</li>
            <li class="hr">Transparent support for taxes, contract work, Social Security payments, business trip costs, etc.</li>
            <li class="hr">Automated report generation in compliance with the laws and regulations of the country your company operates in</li>
            <li class="hr">Secure storage and management of sensitive financial data</li>
            <li class="hr">Streamlined day-to-day operations related to data collection</li>
            <li class="hr">Built-in integration with the most popular customer-specific systems</li>
            <li class="hr">Hire candidates in accordance with the company's recruitment standards</li>
            <li class="hr">Efficiently find optimal applicants</li>
            <li class="hr">Save time and money by speeding up the hiring process</li>
            <li class="hr">Facilitate collaboration with third-party recruiters</li>
            <li class="hr">Increase the productivity of the HR department</li>
            <li class="hr">Reduce company turnover and increase employee loyalty</li>
        </ul>
  </div>
{% endblock %}
